@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;

  --color-primary: #FF8901;
  --color-secondary: #FB923C;
}


