@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');


@import "tailwindcss";

body {
  font-family: 'Sora', sans-serif;
}

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;

  --color-primary: #FF8901;
  --color-secondary: #FB923C;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-8 lg:px-16 xl:px-18 2xl:px-24
}

.primary-btn {
  @apply bg-primary text-white font-semibold py-3 px-6 rounded-md hover:scale-110! duration-100
}




